[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/opt/vim-sensible"]
	path = .vim/pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/opt/vim-go"]
	path = .vim/pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go.git
